[Unit]
Description=Run WorldQuant Rust automatic submitter

[Timer]
OnActiveSec=2min
OnUnitInactiveSec=10min
Persistent=true

[Install]
WantedBy=timers.target
